/AVR/ADC/ADC.X/build/
/AVR/ADC/ADC.X/dist/
/AVR/USART/exemploSerial.X/build/
/AVR/USART/exemploSerial.X/dist/
/gpio/aula-09-09.X/build/
/gpio/aula-09-09-v2.X/build/
/gpio/aula-09-09-v2.X/dist/
/gpio/aula-09-09.X/dist/
/avr/gpio/aula-11-09-v3.X/dist/
/avr/gpio/aula-11-09-v3.X/build/
/avr/gpio/aula-11-09-v2.0.X/build/
/avr/gpio/aula-11-09-v2.0.X/dist/
/avr/gpio/gpio-v3.0.X/build/
/avr/gpio/gpio-v3.0.X/dist/
/avr/gpio/gpio-v3.1.X/build/
/avr/uart/uart-v1.0.X/build/
/avr/uart/uart-v1.0.X/dist/
/avr/uart/uart-interrupt-v1.0.X/build/
/avr/timer/timer.X/build/
/avr/timer/timer.X/dist/
/avr/uart/uart-interrupt-v1.1.X/build/
/avr/uart/uart-interrupt-v1.1.X/dist/
/avr/extin.X/build/
/avr/extin.X/dist/
/Atividade-4/adc_v1.X/build/
/Atividade-4/adc_v1.X/dist/
/Atividade-4/adc_v2.X/build/
/Atividade-4/adc_v2.X/dist/
/Atividade-4/adc_v3.X/build/
/Atividade-4/adc_v3.X/dist/